<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
<!--
Suppose you want to add space / Comment, It will throw error
![BOM](https://i.imgur.com/9S1jE39.png)
UTF-8 BOM Byter Order Mark 
-->	
	
<!-- All of them are different way of Saying the the same things-->

<!-- Setter Injection-->

<!-- You can use name or id , name is given more priority then id , As per Spring Offical Documentation -->
<!-- Setting Value as Property-->
	<bean class="a_core.Student" id="Student1">
		<property name="studentId">
			<value>1</value>
		</property>

		<property name="studentName">
			<value>Value as Property</value>
		</property>

		<property name="studentAddress">
			<value>New Delhi</value>
		</property>
	</bean>	

<!-- Setting Value as Attribute-->
	<bean class = "a_core.Student" name ="Student2" >
		<property name="studentId" value ="2" />
		<property name="studentName" value ="Value as Attribute" />
		<property name="studentAddress" value ="New Delhi" />
	</bean>
	

<!--How to Create New Bean-->
	<bean class = "a_core.Student" name = "Student3" >
		<property name="studentId" value="3" />
		<property name="studentName" value="Create New Bean" />
		<property name="studentAddress" value="New Delhi" />
	</bean>
	
<!-- Setting Value as P-Schema-->
	<bean class="a_core.Student" name ="Student4" p:studentId="4" p:studentName="Value as P-Schema" p:studentAddress="New Delhi"/>

</beans>